p {
    color: #fff !important;
}

a {
    color: #fff;
}
.chat {
    display: flex;
    flex-direction: column;
    flex: 0.65;
}

.chat__header {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h3 {
    border-bottom: 2px;
    font-weight: 500;
}

.chat__headerInfo > p {
    color: white !important;
}

.chat__body {
    flex: 1;
    /* background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png"); */
    background-color: #ffe3fe;
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}

.chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #b4aee8;
    margin-bottom: 15px;
}

.chat__message > span {
    color: white;
}

.chat__receiver {
    margin-left: auto;
    background-color: #440a67;
}

.chat__name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}

.chat__timestamp {
    margin-left: 10px;
    font-size: xx-small;
    color: #fff;
}

.chat__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat__footer > form {
    flex: 1;
    display: flex;
}

.chat__footer > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
}

.chat__footer > form > button {
    display: none;
}

.chat__footer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}