body {
    background-color: #f7dfef;
}

.register__header {
    font-family: poppins-bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-repeat: no-repeat;
}

.header__bg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    align-items: top !important;
}

.header__logo {
    height: 60px;
    object-fit: contain;
    margin-top: 30px;
}

@font-face {
    font-family: schoolbell;
    src: url(../resources/Schoolbell-Regular.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(../resources/Poppins-Bold.ttf);
}

.header__text {
    font-family: schoolbell;
    margin-top: 10px;
    margin-left: 68px;
    font-size: large;
}

.header__input1 {
    width: 30%;
    height: 35px;
    margin-left: 68px;
    margin-right: 15px;
    margin-top: 5px;
    font-size: medium;
    border: none;
    border-radius: 5px;
}

.header__input2 {
    width: 30%;
    height: 35px;
    margin-right: 17px;
    margin-top: 5px;
    font-size: medium;
    border: none;
    border-radius: 5px;
}

.header__submit {
    width: 15%;
    height: 35px;
    color: #ffffff;
    font-weight: 600;
    display: inline;
    background-color: #399E62;
    border: none;
    border-radius: 2px;
    margin-right: 80px;
    font-size: medium;
}

.header__button {
    width: auto;
    height: 35px;
    color: #ffffff;
    font-weight: 400;
    margin-top: 5%;
    padding: 7px;
    border-radius: 2px;
    background-color: #42a32e;
    border: none;
    position: relative;
    margin-left: 400px;
    font-family: poppins-bold;
}

.header__button:hover {
    background-color: #32971e;
    transition: 0.2s;
}

.alert {
    position: absolute;
    left: 88px;
    height: 40px;
    text-align: center;
}
