* {
    box-sizing: inherit;
}

.row {
    box-sizing: border-box;
}

.app {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #dadbd3;
}

.app__body {
    display: flex;
    background-color: #ededed;
    margin-top: -50px;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.app__bodySocial {
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.h4, h4{
    font-size: 1rem;
}

p {
    margin-bottom: 0;
}
